#loader{
    display:none;
    position:absolute; 
    top: 150px; 
    left: 48%; 
    z-index: 9999;
}

[data-role="header"] {
    z-index: 1;
  }

#map {
    height: 500px;
    position: relative;
    z-index: 0;
}

#myForm {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.ui-link{
    display: none;
}

#tempo{
    font-size: 1.5em;  
    margin-bottom: 10px;
    color: #000000;
    background-color: #c4c4c4;
    display: inline-block;
}
